* {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.main-spacer{
    margin-top: 10vh;
}

#app{
    text-align: center;
}

#app img{
    width: 400px;
    margin: 0 auto;
    border-radius: 300px;
    box-shadow: 14px 14px;
}