*{
    font-family: 'Fira Sans', sans-serif;
}

#logo{
    width: 40%;
    height: auto 100%;
    transition: all 300ms;
}

#invoice-logo{
    width: 40%;
    height: auto 100%;
    margin-left: 15px;
}

#html-content-holder{
    overflow: auto;
    padding-top: 20px;
    background-color: white;
}

#border{
    border: 1px solid black;
}

@media only screen and (max-width: 600px) {
    #logo{
        width: 80%;
        height: auto 100%;
    }
    #invoice-logo{
        width: 80%;
    }
    #main-body{
        margin: 0 5px 0 5px;
    }
}