*{
    font-family: 'Fira Sans', sans-serif;
}

#logo{
    width: 40%;
    height: auto 100%;
    transition: all 300ms;
}

#invoice-logo{
    width: 20%;
    height: auto 100%;
    margin-left: 15px;
}

#html-content-holder{
    overflow: auto;
    padding-top: 20px;
    background-color: white;
}

#border{
    border: 1px solid black;
}

#footer-logo{
    width: 18px;
    height: auto;
    float: right;
    margin-top: 5px;
}

#footer-logo-col{
    padding-left: 500px;
}

@media only screen and (max-width: 1200px) {
    #footer-logo{
        margin-top: 5px;
    }
}

@media only screen and (max-width: 600px) {
    #logo{
        width: 80%;
        height: auto 100%;
    }
    #invoice-logo{
        width: 75%;
    }
    #main-body{
        margin: 0 5px 0 5px;
    }
    #footer-logo{
        width: 18px;
        height: auto;
        margin-top: 5px;
    }
}