*{
    font-family: 'Fira Sans', sans-serif;
}

#logo{
    width: 40%;
    height: auto 100%;
    transition: all 300ms;
}

@media only screen and (max-width: 600px) {
    #logo{
        width: 80%;
        height: auto 100%;
    }
    #main-body{
        margin: 0 10px 0 10px;
    }
}